<template name="aboutPage">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HANA</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">
    <link href="css/PineApp.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

</head>


 <body id="page-top" class="index">

    <!-- Header -->
    <header style="background:#D8EDC9">

           <div class="sections-wrapper">   
     
        <!-- ******Why Section****** -->
        <section id="why" class="section why">
            <div class="container">
                <h2 class="title text-center">What Are the keys to Happiness</h2>
                <p class="intro text-center">Our team focuses on the individual’s well being to promote happiness by being healthy, motivated and forge lasting relationships.</p>
                <div class="row item">
                    <div class="content col-md-4 col-sm-12 col-xs-12">
                        <h3 class="title">Dedication on Being Healthy</h3>
                        <div class="desc">
                            <p>HANA is an platform that allows you to follow a lesson that gives you healthy habits or ability to create your own unique healthy habit to incorporate into your daily routine. With one lesson, your mind can be transformed into positive, motivated, and healthy.</p>
                            <p>Hana makes it easier than ever to add a healthy idea or habit to your life. You can also share your lesson with friends via a Facebook or Twitter post with a click of a button. There is not better time than the present to start a new healthy habit.</p>
                        </div>
                                        
                    </div><!--//content-->
                    <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                        <img class="img-responsive" src="img/healthy.jpg" alt="" />
                  
                    </figure>
                </div><!--//item-->
                
                <div class="row item">
                    <div class="content col-md-4 col-sm-12 col-xs-12 col-md-push-8 col-sm-push-0 col-xs-push-0">
                        <h3 class="title">Changing lifestyle</h3>
                        <div class="desc">
                            <p>HANA gives a lesson that can give you small mission that slowly transform your mindset to be healthy, positive, and stable. HANA includes a variety of lessons that can also share with your friends. So you can also change your friends!</p>
                        </div>
                        
                        <div class="quote">
                            <div class="quote-profile">
                                <img class="img-responsive img-circle" src="/img/actress.jpg" alt="" />
                            </div><!--//profile-->
                            <div class="quote-content">
                                <blockquote><p>I find the HANA very useful when I'm in the bathroom. HANA actually gives me very easy but essential lesson that change my mindset slowly but very effectively. I did not even notice I have changed until my friends were surpised! Thank you HANA! </p></blockquote>
                                <p class="source">@Isabelle, San Francisco</p>
                            </div><!--//quote-content-->         
                        </div><!--//quote-->                        
                    </div><!--//content-->
                    <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
                        <img class="img-responsive" src="img/1.jpg" alt="" />
                        <div class="control text-center">
                            <button type="button" class="play-trigger" data-toggle="modal" data-target="#modal-video"><i class="fa fa-play"></i></button>                    
                        </div><!--//control-->
                    </figure>
                </div><!--//item-->
                
                <div class="row item ">
                    <div class="content col-md-4 col-sm-12 col-xs-12">
                        <h3 class="title">Easy to Follow</h3>
                        <div class="desc">
                            <p>HANA is focus on only one mission a day. The mission is also very easy to follow. Sometimes it does not even making user feel mandatory but gives them notice of importance of the mission. Thr</p>
                            <p>HANA missions are very friendly. It does not require user special requirement to do or taking classes. Just read our friendly missions and follow them. You will be surprise how small missions can acutally change you!</p>
                        </div>
                        <div class="quote">
                            <div class="quote-profile">
                                <img class="img-responsive img-circle" src="img/thisguy.png" alt="" />
                            </div><!--//profile-->
                            <div class="quote-content">
                                <blockquote><p>I fianlly shape myself. Before doing HANA, Nice template! It’s practical and there is no gimmicks. Very easy to customise as well!</p></blockquote>
                                <p class="source"><a href="#">@John</a>, London</p>
                            </div><!--//quote-content-->          
                        </div><!--//quote-->                        
                    </div><!--//content-->
                    <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                        <img class="img-responsive" src="img/swim.jpg" alt="" />
                    </figure>

                </div><!--//item-->
           
            
            </div><!--//container-->
        </section><!--//why-->  
        
                <div class="container">
            <div class="intro-text">
                            <div class="intro-heading">ONE CHALLENGE EVERYDAY</div>

                <div class="intro-lead-in">Changing your lifestyle with HANA! </div>
                <a href="/addChallenge" class="page-scroll btn btn-xl">Get Started</a>
            </div>
        </div>

           
    </div>
    </header>



</body> 



    
           

</template>